/* 基础设置 */
.container {
    width: 1190px;
    margin: 0 auto;
}

/* #region顶部导航栏start*/
.topbar {
    height: 30px;
    background-color: #ECECEC;
}
.welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0;
    color: #666666;
}
.welcome .hello,.login,.register {
    font-size: 12px;
}
.welcome .hello {
    margin-right: 28px;
}
.welcome .login {
    padding-right: 10px;
    border-right: solid #666666 1px;
}
.welcome .register {
    padding-left: 10px;
}
.topbar-nav {
    height: 30px;
    line-height: 12px;
    font-size: 0; /*消除间距*/
}
.topbar-nav a {
    font-size: 12px;
    padding: 0 15px;
    border-right: solid #666666 1px;
    position: relative;
    top:8px
}
/* ------------------------------------注意点：父元素>儿子：伪元素（想选第一个儿子元素） */
.topbar-nav>a:first-child{
    padding-left: 0px;
}
.topbar-nav>a:last-child{
    border: 0;
    padding-right: 0px;
}
/* #endregion顶部导航栏end */

/* #region头部start */
.header .search {
    /* 不会影响input和button的字体大小,因为input和button有默认样式 */
    font-size: 0;
}
.header .search input {
    box-sizing: border-box;
    width: 508px;
    height: 36px;
    border: solid 1px #DD302D;
    margin-top: 42px;
    vertical-align: top;
    padding: 0 20px;
}
.header .search button {
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    background-image: url(../images/serch_icon.png);
    background-repeat: no-repeat;
    background-position: 28px 6px;
    margin-top: 42px;
}
/* #endregion头部end */

/* #region主导航start */
.main-nav {
    height: 48px;
    border-bottom: solid 1px #DD302D;
    font-size: 0px;
}
.main-nav .all-types {
    width: 190px;
    height: 48px;
    background-color: #DD302D;
    text-align: center;
    line-height: 48px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.main-nav .types {
    height: 48px;
    line-height: 48px;
}
.main-nav .types>a {
    margin: 0px 10px;
    font-size: 16px;
    font-weight: 500;
}
/* #endregion主导航end */

/* #region主要内容区start */
.main-content {
    margin-top: 10px;
}
.main-content .side-nav {
    width: 190px;
    height: 458px;
    background-color: #F4F4F4;
    position: relative;
}
.main-content .side-nav li {
    height: 28px;
    line-height: 28px;
}
.main-content .side-nav li:first-child {
    margin-top: 5px;
}
.main-content .side-nav li:hover {
    background-color: #DD302D;
}
.main-content .side-nav li>a{
    font-size: 14px;
    margin-left: 16px;
    color: #333333;
}
.main-content .side-nav li:hover>a {
    color: white;
}
.main-content .side-nav .second-menu {
    width: 700px;
    height: 458px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 190px;
    display: none;

    font-size: 14px;
}
.main-content .side-nav li:hover .second-menu{
    display: block;
}
.main-content .side-nav .second-menu dl {
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
}
.main-content .side-nav .second-menu dl:first-child {
    margin-top: 10px;
}
.main-content .side-nav .second-menu dt {
    float: left;
    
    width: 70px;
    height: 20px;
    margin-right: 10px;
    font-weight: bold;
    color: black;
}
.main-content .side-nav .second-menu dd {
    float: left;
}
.main-content .side-nav .second-menu dd a {
    padding: 0 10px;
    border-left: solid 1px #666666;
}

.main-content .banner {
    width: 690px;
    height: 458px;
    background-color: greenyellow;
    margin: 0 10px;
}

.main-content .side-other {
    width: 290px;
    height: 458px;
    /* background-color: orange; */
}
.main-content .express {
    width: 260px;
    height: 156px;
    border: solid 1px #D9D9D9;
    padding: 0 14px;
}
.main-content .express .title {
    height: 39px;
    line-height: 39px;
    border-bottom: solid 1px #D9D9D9;
}
.main-content .express .title span {
    font-size: 14px;
    color: black;
}
.main-content .express .content {
    margin-top: 2px;
}
.main-content .express .content li {
    height: 26px;
    line-height: 26px;
}

.main-content .other-nav {
    margin-top: 10px;
    width: 280px;
    height: 275px;
    /* background-color: #666666; */
    padding: 0 5px;
    padding-top: 15px;
}
.main-content .other-nav .list {
    width: 48px;
    height: 70px;
    /* background-color: skyblue; */
    text-align: center;
    margin: 8.5px 11px;
    float: left;
}
.main-content .other-nav .list .picture {
    background-image: url(../images/精灵图-侧边功能.png);
    height: 48px;
}
.main-content .other-nav .list:nth-child(-n+4) .picture {
    background-position-y: 0;
}
.main-content .other-nav .list:nth-child(-n+8):nth-child(n+5) .picture {
    background-position-y: -48px;
}
.main-content .other-nav .list:nth-child(n+9) .picture {
    background-position-y: -96px;
}

.main-content .other-nav .list:nth-child(4n-3) .picture {
    background-position-x: 0;
}
.main-content .other-nav .list:nth-child(4n-2) .picture {
    background-position-x: -48px;
}
.main-content .other-nav .list:nth-child(4n-1) .picture {
    background-position-x: -96px;
}
.main-content .other-nav .list:nth-child(4n) .picture {
    background-position-x: -144px;
}

/* #endregion主要内容区end */

/* #region秒杀start */
.seckill a {
    float: left;
    margin-right: 11px;
    margin-top: 10px;
}
.seckill a:last-child {
    margin-right: 0;
}
/* #endregion秒杀end */

/* #region下层广告区start */
.floor-nav {
    height: 30px;
    line-height: 30px;
    margin-top: 48px;
    padding-bottom: 4px;
    border-bottom: solid 2px #DD302D;
}
.floor-name {
    font-size: 20px;
    color: black;
}
.floor .nav-list li {
    float: left;
}
.floor .nav-list li a {
    font-size: 14px;
    padding: 0 10px;
    border-right: solid 1px #666666;
}
.floor .nav-list li:first-child a {
    padding-left: 0;
}
.floor .nav-list li:last-child a {
    padding-right: 0;
    border: 0;
}
.floor-content>div {
    height: 432px;
    float: left;
}
.floor-content .item1 {
    width: 230px;
    background-color: #F4F4F4;
}
.floor-content .item1 .content-nav {
    height: 158px;
}
.floor-content .item1 .content-nav a {
    float: left;
    width: 90px;
    height: 29px;
    line-height: 29px;
    font-size: 16px;
    border-bottom: solid 1px #D9D9D9;
    text-align: center;
}
.floor-content .item1 .content-nav a:nth-child(2n+1) {
    margin-left: 20px;
    margin-right: 10px;
}
.floor-content .item1 .content-nav a:nth-child(-n+4) {
    margin-bottom: 11px;
}.floor-content .item1 .content-nav a:nth-child(-n+2) {
    margin-top: 16.5px;
}
.floor-content .item1 .picture1 {
    position: relative;
    left: 18px;
}
.floor-content .item2 {
    width: 340px;
    background-color: orange;
}
.floor-content .item3 {
    width: 206px;
    background-color: greenyellow;
}
.floor-content .item3 a img {
    border-bottom: solid 1px #E2E2E2;
}
.floor-content .item4 {
    width: 206px;
    background-color: gainsboro;
    border-left: solid 1px #E2E2E2;
    border-right: solid 1px #E2E2E2;
}
.floor-content .item5 {
    width: 206px;
    background-color: yellowgreen;
}
.floor-content .item5 a img {
    border-bottom: solid 1px #E2E2E2;
}
/* #endregion下层广告区end */

/* #region页脚start */
.footer {
    height: 440px;
    background-color: #483E3E;
    margin-top: 48px;
    text-align: center;
}
.footer .top-links ul {
    float: left;
    width: 190px;
    height: 176px;
    margin-right: 10px;
    margin-top: 48px;
    margin-bottom: 22px;
}
.footer .top-links ul li {
    margin: 2px 0px;
}
.footer .top-links ul a {
    color: white;
    font-size: 14px;
}
.footer .top-links ul a:hover {
    color: #DD302D;
}
.footer .top-links ul:last-child {
    margin-right: 0px;
}

.footer .line {
    border-top: solid 1px #584D4D;
}

.footer .bottom-links {
    text-align: center;
}
.footer .bottom-links ul {
    display: inline-block;
    margin-top: 47px;
}
.footer .bottom-links ul li {
    float: left;
}
.footer .bottom-links a {
    color: white;
    padding: 0 26px;
    border-right: solid 1px #666666;
}
.footer .bottom-links li:first-child a{
    padding-left: 0px;
}
.footer .bottom-links li:last-child a{
    padding-right: 0px;
    border: 0;
}
.footer .bottom-links a:hover {
    color: #DD302D;
}
.footer .copyright {
    display: inline-block;
    color: white;
    margin: 10px;
}
/* #endregion页脚end */













